@charset "UTF-8";
@import url(../../node_modules/bootstrap/dist/css/bootstrap.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,900");
.container-fluid {
  font-family: 'Roboto', sans-serif; }

.row h1 {
  font-size: 1.85em; }

.introduction {
  padding: 0 20px 20px 20px; }
  .introduction hr {
    margin-top: 30px;
    margin-bottom: 0; }

p.status {
  display: none;
  margin-left: 15px;
  font-weight: 300; }
  p.status.success {
    display: block;
    color: #47d478; }
  p.status.failure {
    display: block;
    color: #d44f53; }

.form-main {
  padding: 2em;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

input[type=text], input[type=password], input[type=email] {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: #eeeeee;
  border-radius: 2px;
  padding: 1.25em 1.1em;
  font-size: 14px;
  min-height: 45px; }
  input[type=text].form-control:focus, input[type=password].form-control:focus, input[type=email].form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none; }

.screen-base {
  min-width: 100px;
  max-width: 270px;
  height: 500px;
  background-color: white;
  border: 1px solid #eeeeee;
  overflow: scroll;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  margin: auto;
  margin-bottom: 40px; }
  .screen-base .screen-image {
    width: 100%;
    height: 180px;
    background-color: #efefef;
    overflow: hidden; }
    .screen-base .screen-image img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      overflow: hidden; }
  .screen-base .screen-content {
    padding: 14px 14px;
    font-weight: 300; }
    .screen-base .screen-content .screen-title {
      width: 100%;
      font-size: 22px;
      font-weight: 900; }
    .screen-base .screen-content .screen-author {
      display: block;
      font-size: 12px;
      float: left; }
    .screen-base .screen-content .screen-date {
      display: block;
      font-size: 12px;
      color: #d7d7d7;
      float: left; }
      .screen-base .screen-content .screen-date::before {
        content: " · "; }
    .screen-base .screen-content #clear {
      clear: both; }
    .screen-base .screen-content hr {
      margin-top: 10px;
      margin-bottom: 10px; }

.form-group label {
  font-size: 18px;
  font-weight: 400; }
  .form-group label.label-file-upload {
    color: #3949ab;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    padding: 9px 16px 9px 16px;
    border-radius: 2px;
    transition: background-color 0.25s ease-out; }
    .form-group label.label-file-upload:hover, .form-group label.label-file-upload:focus {
      background-color: rgba(57, 73, 171, 0.12); }

#image-upload {
  display: none; }

textarea.main {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: #eeeeee;
  border-radius: 0.25em;
  padding: 1.25em 1.1em;
  font-size: 14px;
  max-width: 100%; }
  textarea.main.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none; }

button.btn-primary {
  background-color: #3949ab;
  color: white;
  border-radius: 2px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 36px;
  min-width: 88px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500;
  float: right;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  button.btn-primary:hover, button.btn-primary:focus {
    background-color: #3949ab;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25), 0 3px 9px rgba(0, 0, 0, 0.22); }

.navbar {
  background-color: #3949ab;
  border-radius: 0;
  outline: none;
  border: none;
  box-shadow: 0 2.5px 4px rgba(0, 0, 0, 0.18), 0 2.5px 4px rgba(0, 0, 0, 0.24);
  color: white; }
  .navbar h1 {
    font-size: 2em;
    font-weight: 400;
    padding: 0.1em 1em 0.1em 1em; }

.sign-in {
  background-color: rebeccapurple; }

.posts, .new-post {
  padding-left: 1.5em;
  padding-right: 1.5em; }
  .posts .form-group, .new-post .form-group {
    padding-left: 0; }

.card-base {
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  height: 150px;
  overflow: hidden;
  padding: 1.5em 1.6em;
  margin: 0.5em -0.25em;
  font-size: 14px;
  position: relative;
  transition: box-shadow 0.1s ease-out; }
  .card-base:hover {
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2); }
  .card-base img {
    margin: -1.5em -1.6em;
    height: 150%;
    width: 150%;
    object-fit: cover;
    overflow: hidden;
    -webkit-filter: brightness(70%);
    /* Safari 6.0 - 9.0 */
    filter: brightness(70%);
    transition: filter 0.15s ease-in; }
    .card-base img:hover {
      filter: brightness(60%); }
  .card-base h1 {
    color: white;
    font-size: 1.28em;
    font-weight: 400;
    margin: 0;
    position: absolute;
    bottom: 1em; }
  .card-base h3 {
    font-size: 1.25em;
    font-weight: 300;
    margin: 0; }
