@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900');


$blue-500: #3949ab;
$blue-500-focus: rgba(57,73,171,0.12);
$blue-800: #283593;
$grey-200: #eeeeee;

.container-fluid {
  font-family: 'Roboto', sans-serif;
}

.row {
  h1 {
    font-size: 1.85em;
  }
}

.introduction {
  padding: 0 20px 20px 20px;
  hr {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

p {
  &.status {
    display: none;
    margin-left: 15px;
    font-weight: 300;
    &.success {
      display: block;
      color: #47d478;
    }
    &.failure {
      display: block;
      color: #d44f53;
    }
  }
}

.form-main {
  padding: 2em;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
input[type=text], input[type=password], input[type=email] {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: $grey-200;
  border-radius: 2px;
  padding: 1.25em 1.1em;
  font-size: 14px;
  min-height: 45px;
  &.form-control {
    &:focus {
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.screen-base {
  min-width: 100px;
  max-width: 270px;
  height: 500px;
  background-color: white;
  border: 1px solid $grey-200;
  overflow: scroll;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.15);
  border-radius: 2px;
  .screen-image {
    width: 100%;
    height: 180px;
    background-color: #efefef;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }
  margin: auto;
  margin-bottom: 40px;
  .screen-content {
    padding: 14px 14px;
    font-weight: 300;
    .screen-title {
      width: 100%;
      font-size: 22px;
      font-weight: 900;
    }
    .screen-author {
      display: block;
      font-size: 12px;
      float: left;
    }
    .screen-date {
      display: block;
      font-size: 12px;
      color: #d7d7d7;
      float: left;
      &::before {
        content: " · ";
      }
    }
    #clear {
      clear: both;
    }
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.form-group {
  label {
    font-size: 18px;
    font-weight: 400;
    &.label-file-upload {
      color: $blue-500;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      height: 36px;
      padding: 9px 16px 9px 16px;
      border-radius: 2px;
      transition: background-color 0.25s ease-out;
      &:hover, &:focus {
        background-color: $blue-500-focus;
      }
    }
  }
}

#image-upload {
  display: none;
}

.description {
}

textarea {
  &.main {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: #eeeeee;
    border-radius: 0.25em;
    padding: 1.25em 1.1em;
    font-size: 14px;
    max-width: 100%;
    &.form-control {
      &:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}

button {
  &.btn-primary {
    background-color: $blue-500;
    color: white;
    border-radius: 2px;
    outline: none;
    border:none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 36px;
    min-width: 88px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 500;
    float: right;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover, &:focus {
      background-color: $blue-500;
      box-shadow: 0 3px 8px rgba(0,0,0,0.25), 0 3px 9px rgba(0,0,0,0.22);
    }
  }
}

.navbar {
  background-color: $blue-500;
  border-radius: 0;
  outline: none;
  border: none;
  box-shadow: 0 2.5px 4px rgba(0,0,0,0.18), 0 2.5px 4px rgba(0,0,0,0.24);
  color: white;
  h1 {
    font-size: 2em;
    font-weight: 400;
    padding: 0.1em 1em 0.1em 1em;
  }
}

.sign-in {
  background-color: rebeccapurple;
}

//
//  TEMPLATE STYLES
//
.posts, .new-post {
  padding-left: 1.5em;
  padding-right: 1.5em;
  .form-group {
    padding-left: 0;
  }
}
.card-base {
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
  height: 150px;
  overflow: hidden;
  padding: 1.5em 1.6em;
  margin: 0.5em -0.25em;
  font-size: 14px;
  position: relative;
  transition: box-shadow 0.1s ease-out;
  &:hover {
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.2);
  }
  img {
    margin: -1.5em -1.6em;
    height: 150%;
    width: 150%;
    object-fit: cover;
    overflow: hidden;
    -webkit-filter: brightness(70%); /* Safari 6.0 - 9.0 */
    filter: brightness(70%);
    transition: filter 0.15s ease-in;
    &:hover {
      filter: brightness(60%);
    }
  }
  h1 {
    color: white;
    font-size: 1.28em;
    font-weight: 400;
    margin: 0;
    position: absolute;
    bottom: 1em;
  }
  h3 {
    font-size: 1.25em;
    font-weight: 300;
    margin: 0;
  }
}
